fastapi
uvicorn[standard]
SQLAlchemy
pymysql
python-dotenv
tensorflow
numpy
pandas
Pillow
scikit-learn
statsmodels
networkx
matplotlib
python-multipart
aiofiles
python-jose[cryptography]
passlib[bcrypt]
opencv-python-headless
